@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    background-color: white;
    color: black;

    font-family: 'Roboto', sans-serif;
}

header{
    position: fixed;
    margin-right: 1%;
    right: 0;
}

input,
.hide-rage,
.togglelight-btn{
    background-color: white;
    border: solid black 0.5px;
    cursor: pointer;
}

.togglelight-btn{
    transform: rotate(45deg);
}

.across-width{
    width: 100%;
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%;
}

.underline,
h3{
    text-decoration: underline;
}

h4{
    text-decoration: underline;
    text-transform: uppercase;
}

.part{
    margin-left: 5%;
}

.quote{
    margin-bottom: 2%;
}

.grey-example{
    color: grey;
}

.personal-rage{
    margin-left: 10%;
}

details{
    margin-bottom: 2%;
}

summary{
    font-style: italic;
    margin-bottom: 5px;
}

summary:hover{
    cursor: pointer;
    text-decoration: underline;
}

.quote{
    width: 100%;
    text-align: center;
}

.questions{
    margin-bottom: 5%;
}

.highlight{
    background-color: yellow;
    color: black;
}